{% extends "layout.html" %}
{% block body %}
{% if error %}
<p class=error><strong>Error:</strong> {{ error }}
{% endif %}
<div class="form-screen">
    <div class="app-title">
        <h1>Your Account</h1>
    </div>
    <div class="control-group">
        <a href="{{ url_for('changepass') }}" class="btn">Change password</a>
    </div>
    <div class="control-group">
        <a href="{{ url_for('change_email') }}" class="btn">Change email</a>
    </div>
    <div class="control-group">
        <a href="{{ url_for('delete') }}" class="btn">Delete Account</a>
    </div>
</div>

{% endblock %}