{% extends "layout.html" %}
{% block body %}
{% if error %}
<p class=error><strong>Error:</strong> {{ error }}
{% endif %}
<h1>Your Vehicles</h1>
    {% if vehicles %}
        {{vehicles|safe}}
        <div class="control-group">
            <a href="{{ url_for('link') }}" class="btn">Link another Tesla account</a>
        </div>
    {% else %}
        <div class="control-group">
            <a href="{{ url_for('link') }}" class="btn">Link your Tesla account</a>
        </div>
    {% endif %}

{% endblock %}